.row .card {
  text-align: center;
  border: 0;
  box-shadow: 1px 5px 10px #d1d1d1;
  .fa {
    font-size: 30px;
  }
  h5 {
    font-size: 18px;
  }
}

.xmark {
  color: red;
}

.checkmark {
  color: cyan;
}

.heart {
  color: green;
}
